ipykernel
numpy
pandas
matplotlib
seaborn
streamlit
scikit-learn
langchain
dotenv
langchain-openai
beautifulsoup4
langchain_community
faiss-cpu
langchain-community
langchain-core
langchain-classic
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain_huggingface
sentence-transformers
langchain-chroma
bs4
python-dotenv
langchain-groq
pypdf
arxiv
wikipedia
torchvision
ddgs
